body
{
    font-family: sans-serif;
}

div
{
    margin: 10px 0px 10px 0px;
}

textarea
{
    border-color: #000000;
    border-width: thin;
}

input[type="text"]
{
    width: 250px;
    border-color: #000000;
    border-width: thin;
}

button
{
    width: 120px;
    background: #FF9933;
    border-width: 1px;
    border-color: #000000;
    color: #FFFFFF;
    margin-bottom: 10px;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
